body{
    background-image: url(images/careerbackg.jpg);
    background-size: cover;

}

img{
    width:250px;
    height:auto;
}


.custom-spacing .spacing {
    margin-left: 22px;
    margin-right: 22px;

}


.custom-spacing {
    row-gap: 120px; /* Adjust this value to increase or decrease row spacing */
}


#nav-bar{

    width: 100%;
    margin:0;
    padding:0

  
  }

.navbar-brand img{
    height: 50px;
    padding-left: 30px;
    
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover{
    color: #007bff;
}

.navbar{
    background:#fff;
}

.navbar-toggle{
    border:none
}

.nav-link{
    color:#555;
    font-weight: 600;
    font-size: 16px;
}
