.card {
    border: 2px solid black;

}


.card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }

body{
    background-color: #082567;

}

.btn_design{
    background-color: #145da0;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.jumbotron{
    height:150px;
    background: linear-gradient(90deg, #336699, #5A8DCC); 
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.jumbotron h1{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;

}

.jumbotron p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}


.btn_design:hover {
    background-color: grey;
  }

  .Role{
    font-size: 25px;
  }

  .Company{
    font-size: 20px;

  }

  .Location{
    font-size:15px;
  }

  .Level{
    font-size:15px;
  }