<!DOCTYPE html>
<html lang="en">

<head>

    <title>Resume Crafting</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">


    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.js"></script>


    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <link rel="stylesheet" href="resume.css">


</head>
<body>
   <!-- Nav -->
    <!-- form -->

    <div id="app1">
        <section id="nav-bar">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="../images/logo.png" alt="Logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="../careersearch/careersearch.html">CAREER SEARCH</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="../careerexploration/career_exploration.html">CAREER EXPLORATION</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" style="color: blue;">RESUME CRAFTING</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="../Upskilling/upskilling.html">UPSKILLING</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="../mentors/mentorCards.html">MENTORS</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="../profile/Profile.html">PROFILE</a>
                              </li>
        
                              <li class="nav-item">
                                <a class="nav-link" @click="logout">LOGOUT</a>
                            </li>
        
                        </ul>
                    </div>
                </div>
            </nav>
        </section>


        <div class="row">
            <div
              class="jumbotron d-flex flex-column justify-content-center align-items-center text-center bg-light mb-3 p-lg-5 p-md-4 p-3 w-100">
              <div class="container">
                <h1 class="display-4 fs-1 fs-md-2 fs-lg-1">Resume Guidance</h1>
                <p class="lead fs-5 fs-md-6">
                    Not sure where to start? Let us guide you to build a resume that gets you noticed by employers!
                </p>
              </div>
            </div>
          </div>
    

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-5">
                    <form>
                        <div class="form">
                            <!-- first box on personal info -->
                            <div class="row">
                                <div class="box">
                                    <h5>Personal information</h5>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" class="form-control" id="name" placeholder="John Doe"
                                            v-model="name" @input="autoSave('name', name)">
                                    </div>
                                    <div class="form-group" style="height: fit-content;">
                                        <label for="profile">Profile</label>
                                        <textarea class="form-control" id="profile" rows="3"
                                            placeholder="Results-driven marketing professional with a strong background in digital marketing and content creation."
                                            v-model="profile" @input="autoSave('profile', profile)"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="phone">Phone</label>
                                            <input type="text" class="form-control" id="phone"
                                                placeholder="+65 9123 4567" v-model="phone" @input="autoSave('phone', phone)">
                                        </div>
                                        <div class="col form-group">
                                            <label for="email">Email address</label>
                                            <input type="email" class="form-control" id="email"
                                                placeholder="name@example.com" v-model="email" @input="autoSave('email', email)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input type="text" class="form-control" id="location"
                                            placeholder="123 Orchard Road, Singapore" v-model="location" @input="autoSave('location', location)"> 
                                    </div>
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="text" class="form-control" id="website"
                                            placeholder="linkedin.com/johndoe" v-model="website" @input="autoSave('website', website)">
                                    </div>

                                    <!-- input img -->
                                    <!-- CHANGE FOR FIREBASE OF IMG -->
                                    <div class="form-group">
                                        <label for="imageInput">Your Photo</label>
                                        <!-- File Input -->
                                        <input type="file" class="form-control" id="imageInput" accept="image/*" />
                                    </div>

                                </div>
                            </div>
                            <!-- second box on job experience -->
                            <div class="row">
                                <!-- NOTE: need to acc for the different inputs, need to change the name/labels to retrieve -->
                                <!-- job 1 -->
                                <div class="box">
                                    <h5>Job Experience</h5>
                                    <h6 class="d-inline">Job Experience 1 </h6><span class="d-inline"
                                        style="color: rgb(158, 157, 157);">(Most recent)</span>

                                    <div class="form-group">
                                        <label for="company1">Company</label>
                                        <input type="text" class="form-control" id="company1"
                                            placeholder="Singapore Management University" v-model="company1" @input="autoSave('company1', company1)">
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="job1">{{ job1 }}</label>
                                            <input type="text" class="form-control" id="job1"
                                                placeholder="Part time retail associate" v-model="job1" @input="autoSave('job1', job1)">
                                        </div>
                                        <div class="col form-group">
                                            <label for="job-date1">Date</label>
                                            <!-- change name -->
                                            <input type="text" class="form-control" id="job-date1"
                                                placeholder="May 2024 - Present" v-model="jobDate1" @input="autoSave('jobDate1', jobDate1)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description1" style="height: fit-content;">Description</label>
                                        <textarea class="form-control" id="description1" rows="3"
                                            placeholder="Conducted market research to identify customer trends and opportunities."
                                            v-model="description1" @input="autoSave('description1', description1)"></textarea>
                                    </div>
                                    <hr>
                                    <!-- job 2 -->

                                    <h6>Job Experience 2</h6><span class="d-inline"
                                        style="color: rgb(158, 157, 157);">(If any)</span>
                                    <div class="form-group">
                                        <label for="company2">Company</label>
                                        <input type="text" class="form-control" id="company2"
                                            placeholder="Singapore Management University" v-model="company2" @input="autoSave('company2', company2)">
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="job2">Job Title</label>
                                            <input type="text" class="form-control" id="job2"
                                                placeholder="Part time retail associate" v-model="job2" @input="autoSave('job2', job2)">
                                        </div>
                                        <div class="col form-group">
                                            <label for="job-date2">Date</label>
                                            <!-- change name -->
                                            <input type="text" class="form-control" id="job-date2"
                                                placeholder="May 2022 - May 2024" v-model="jobDate2" @input="autoSave('jobDate2', jobDate2)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description2" style="height: fit-content;">Description</label>
                                        <textarea class="form-control" id="description2" rows="3"
                                            placeholder="Conducted market research to identify customer trends and opportunities."
                                            v-model="description2" @input="autoSave('description2', description2)"></textarea>
                                    </div>
                                    <hr>
                                    <!-- job 3 -->

                                    <h6>Job Experience 3</h6><span class="d-inline"
                                        style="color: rgb(158, 157, 157);">(If any)</span>
                                    <div class="form-group">
                                        <label for="company3">Company</label>
                                        <input type="text" class="form-control" id="company3"
                                            placeholder="Singapore Management University" v-model="company3" @input="autoSave('company3', company3)">
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="job3">Job Title</label>
                                            <input type="text" class="form-control" id="job3"
                                                placeholder="Part time retail associate" v-model="job3" @input="autoSave('job3', job3)">
                                        </div>
                                        <div class="col form-group">
                                            <label for="job-date3">Date</label>
                                            <!-- change name -->
                                            <input type="text" class="form-control" id="job-date3"
                                                placeholder="May 2021 - May 2022" v-model="jobDate3" @input="autoSave('jobDate3', jobDate3)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description3" style="height: fit-content;">Description</label>
                                        <textarea class="form-control" id="description3" rows="3"
                                            placeholder="Conducted market research to identify customer trends and opportunities."
                                            v-model="description3" @input="autoSave('description3', description3)"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- third box on education -->
                            <div class="row">
                                <!-- NOTE: need to acc for the different inputs, need to change the name/labels to retrieve -->
                                <!-- edu 1 -->
                                <div class="box">
                                    <h5>Education</h5>
                                    <h6>Education 1</h6>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="degree-major1">Degree & Major</label>
                                            <input type="text" class="form-control" id="degree-major1"
                                                placeholder="Bachelor of Science in Information Systems"
                                                v-model="degreeMajor1" @input="autoSave('degreeMajor1', degreeMajor1)">
                                        </div>
                                        <div class="col form-group">
                                            <label for="school1">School</label>
                                            <input type="text" class="form-control" id="school1"
                                                placeholder="Singapore Management University" v-model="school1"  @input="autoSave('school1', school1)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="gpa1">GPA</label>
                                            <input type="text" class="form-control" id="gpa1" placeholder="3.72"
                                                v-model="gpa1" @input="autoSave('gpa1', gpa1)">
                                        </div>

                                        <div class="col form-group">
                                            <label for="school-date1">Date</label>
                                            <!-- change name -->
                                            <input type="text" class="form-control" id="school-date1"
                                                placeholder="June 2024" v-model="schoolDate1" @input="autoSave('schoolDate1', schoolDate1)">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="additional-information1" style="height: fit-content;">Additional
                                            Information (Optional)</label>
                                        <textarea class="form-control" id="additional-information1" rows="3"
                                            placeholder="" v-model="additionalInformation1" @input="autoSave('additionalInformation1', additionalInformation1)"></textarea>
                                    </div>

                                    <hr>
                                    <!-- edu 2 -->
                                    <h6>Education 2</h6><span class="d-inline" style="color: rgb(158, 157, 157);">(If
                                        any)</span>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="degree-major2">Degree & Major</label>
                                            <input type="text" class="form-control" id="degree-major2"
                                                placeholder="Bachelor of Science in Information Systems"
                                                v-model="degreeMajor2" @input="autoSave('degreeMajor2', degreeMajor2)">
                                        </div>

                                        <div class="col form-group">
                                            <label for="school2">School</label>
                                            <input type="text" class="form-control" id="school2"
                                                placeholder="Singapore Management University" v-model="school2" @input="autoSave('school2', school2)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="gpa2">GPA</label>
                                            <input type="text" class="form-control" id="gpa2" placeholder="3.72"
                                                v-model="gpa2" @input="autoSave('gpa2', gpa2)">
                                        </div>
                                        <div class="col form-group">
                                            <label for="school-date2">Date</label>
                                            <!-- change name -->
                                            <input type="text" class="form-control" id="school-date2"
                                                placeholder="June 2024" v-model="schoolDate2" @input="autoSave('schoolDate2', schoolDate2)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="additional-information2" style="height: fit-content;">Additional
                                            Information (Optional)</label>
                                        <textarea class="form-control" id="additional-information2" rows="3"
                                            placeholder="" v-model="additionalInformation2" @input="autoSave('additionalInformation2', additionalInformation2)"></textarea>
                                    </div>
                                    <hr>

                                    <!-- edu 3 -->
                                    <h6>Education 3</h6><span class="d-inline" style="color: rgb(158, 157, 157);">(If
                                        any)</span>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="degree-major3">Degree & Major</label>
                                            <input type="text" class="form-control" id="degree-major3"
                                                placeholder="Bachelor of Science in Information Systems"
                                                v-model="degreeMajor3" @input="autoSave('degreeMajor3', degreeMajor3)">
                                        </div>

                                        <div class="col form-group">
                                            <label for="school3">School</label>
                                            <input type="text" class="form-control" id="school3"
                                                placeholder="Singapore Management University" v-model="school3" @input="autoSave('school3', school3)">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col form-group">
                                            <label for="gpa3">GPA</label>
                                            <input type="text" class="form-control" id="gpa3" placeholder="3.72"
                                                v-model="gpa3" @input="autoSave('gpa3', gpa3)">
                                        </div>
                                        <div class="col form-group">
                                            <label for="school-date3">Date</label>
                                            <!-- change name -->
                                            <input type="text" class="form-control" id="school-date3"
                                                placeholder="June 2024" v-model="schoolDate3" @input="autoSave('schoolDate3', schoolDate3)">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="additional-information3" style="height: fit-content;">Additional
                                            Information (Optional)</label>
                                        <textarea class="form-control" id="additional-information3" rows="3"
                                            placeholder="" v-model="additionalInformation3" @input="autoSave('additionalInformation3', additionalInformation3)"></textarea>
                                    </div>
                                </div>

                            </div>


                            <!-- forth box on skills -->
                            <div class="row">
                                <!-- NOTE: need to acc for the different inputs, need to change the name/labels to retrieve - list using vue components -->
                                <div class="box">
                                    <h5>Skills</h5>
                                    <div class="form-group">
                                        <label for="skills" style="height: fit-content;">Skills List</label>
                                        <textarea class="form-control" id="skills" rows="3"
                                            placeholder="Effective communication" v-model="skills" @input="autoSave('skills', skills)"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- fifth box on language -->
                            <div class="row">
                                <!-- NOTE: need to acc for the different inputs, need to change the name/labels to retrieve -->
                                <div class="box">
                                    <h5>Language proficiency</h5>

                                    <div class="form-group">
                                        <label for="languages" style="height: fit-content;">Languages </label>
                                        <span class="d-inline" style="color: rgb(158, 157, 157);"> (Language -
                                            Proficiency)</span>
                                        <input type="text" class="form-control" id="languages"
                                            placeholder="English - Highly proficient, Chinese - Approaching proficient"
                                            v-model="languages" @input="autoSave('languages', languages)">
                                    </div>
                                </div>
                            </div>


                            <!-- sixth box on interests -->
                            <div class="row">
                                <!-- NOTE: need to acc for the different inputs, need to change the name/labels to retrieve -->
                                <div class="box">
                                    <h5>Interests</h5>
                                    <div class="form-group">
                                        <label for="interests" style="height: fit-content;">Interests</label>
                                        <input type="text" class="form-control" id="interests" placeholder="English"
                                            v-model="interests" @input="autoSave('interests', interests)">
                                    </div>
                                </div>
                            </div>

                            <!-- NOTE: remove button -->
                            <div class="d-flex my-2">
                                <button @click="exportResume()" class="btn btn-light mx-auto">Confirm details</button>
                            </div>
                        </div>
                    </form>
                </div>


                <!-- DISPLAY RESUME ON RIGHT -->
                <div class="col-sm-7">
                    <!-- choose color -->
                    <div class="col-sm-5 text-center mt-4">
                        <H3>Customise Your Resume</H3>
                        Resume Title Colour: <input type="color" @input="changeTitleColour" v-model="title1"><br>
                        Background Colour 1: <input type="color" @input="changeBackgroundColour1"
                            v-model="background1"><br>
                        Background Colour 2: <input type="color" @input="changeBackgroundColour2"
                            v-model="background2"><br>
                        Text Color: <input type="color" @input="changeTextColour"
                            v-model="text1"><br>
                            
                    </div>

                    <!-- paper -->
                    <div id="resumeContent" class="paper sticky-top">
                        <!-- banner -->
                        <!-- NOTE: ADD v-if="complete" -->
                        <div class="container">
                            <div class="row">
                                <div class="p-4 title1">
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                        <!-- img -->
                                        <img id="imagePreview" src="" alt="Image Preview"
                                            style="display: none; width: 70px;height: auto;" />
                                        <span
                                            style="font-family:bannerName; font-size: 40px; color:#fdfcf4; letter-spacing: 2px;">{{
                                            name }}</span>
                                        <span style="font-size: 20px; font-family: cursive; color: #dcae96;">{{ job1
                                            }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- left side of 2nd row -->
                                <div class="col-4 left">

                                    <div class="position-relative p-2">
                                        <p class="title1">CONTACT</p>
                                        <div>
                                            <img class="icon" src="../images/contact-mail.png" alt=""><br>
                                            <p style="text-align: center; padding-top:5px;">{{ phone }}</p>
                                        </div>

                                        <div>
                                            <img class="icon" src="../images/location.png" alt=""><br>
                                            <p style="text-align: center; padding-top:5px;">{{ location }}</p>
                                        </div>
                                        <div>
                                            <img class="icon" src="../images/email.png" alt=""><br>
                                            <p style="text-align: center; padding-top:5px;">{{ email }}
                                            </p>
                                        </div>
                                        <div>
                                            <img class="icon" src="../images/personal-data.png" alt=""><br>
                                            <p style="text-align: center; padding-top:5px;">{{ website }}
                                            </p>
                                        </div>
                                    </div>

                                    <p class="title1">Education</p>
                                    <div style="text-align: center;" class="p-2">
                                        <span style="color:#9C786C; font-weight: bold;">{{ degreeMajor1 }}</span><br>
                                        <span style="text-transform: capitalize;">{{ school1 }}</span><br>
                                        <span>GPA: {{ gpa1 }}</span><br>
                                        <span style="font-weight: bold;">{{ schoolDate1 }}</span><br>
                                        <span style="color:#607D8B;">{{ additionalInformation1 }}</span>
                                    </div>

                                    <div style="text-align: center;" class="p-2">
                                        <span style="color:#9C786C; font-weight: bold;">{{ degreeMajor2 }}</span><br>
                                        <span style="text-transform: capitalize;">{{ school2 }}</span><br>
                                        <span>GPA: {{ gpa2 }}</span><br>
                                        <span style="font-weight: bold;">{{ schoolDate2 }}</span><br>
                                        <span style="color:#607D8B;">{{ additionalInformation2 }}</span>
                                    </div>

                                    <div style="text-align: center;" class="p-2">
                                        <span style="color:#9C786C; font-weight: bold;">{{ degreeMajor3 }}</span><br>
                                        <span style="text-transform: capitalize;">{{ school3 }}</span><br>
                                        <span>GPA: {{ gpa3 }}</span><br>
                                        <span style="font-weight: bold;">{{ schoolDate3 }}</span><br>
                                        <span style="color:#607D8B;">{{ additionalInformation3 }}</span>
                                    </div>

                                    <p class="title1">Language proficiency</p>
                                    <div style="text-align: center;" class="p-2">
                                        <span>{{ languages }}</span><br>
                                    </div>

                                    <p class="title1">Interests</p>
                                    <div style="text-align: center;" class="p-2">
                                        <span>{{ interests }}</span><br>
                                    </div>

                                </div>
                                <!-- right side of 2nd row -->
                                <div class="col-8">
                                    <!-- profile -->
                                    <p class="title2">Profile</p>
                                    <div style="margin: 20px;" class="hover-word" id="profile-query">
                                        {{ profile }}
                                    </div>
                                    
                                    <div class="hover-div" id="profile-result">
                                        
                                    </div>
                                    <hr>

                                    <!-- experiences -->
                                    <p class="title2">Experience</p>
                                    <!-- first experience -->

                                    <div style="margin: 30px 20px;">
                                        <span style="color:#607D8B;">{{ company1 }}</span>
                                        <span style="color:#535353; float: right;">{{ jobDate1 }}</span><br>
                                        <span style="color:#535353; font-style: italic; font-weight: bold;">{{ job1
                                            }}</span><br>

                                        <div class="hover-word" id="description1-query">
                                            {{ description1 }}
                                        </div>

                                        <div class="hover-div" id="description1-result">
                                        
                                        </div>


                                    </div>
                                    <!-- second experience -->
                                    <div style="margin: 30px 20px;">
                                        <span style="color:#607D8B;">{{ company2 }}</span>
                                        <span style="color:#535353; float: right;">{{ jobDate2 }}</span><br>
                                        <span style="color:#535353; font-style: italic; font-weight: bold;">{{ job2
                                            }}</span><br>

                                            <div class="hover-word" id="description2-query">
                                                {{ description2 }}
                                            </div>
    
                                            <div class="hover-div" id="description2-result">
                                            
                                            </div>
                                    </div>
                                    <!-- third experience -->
                                    <div style="margin: 30px 20px;">
                                        <span style="color:#607D8B;">{{ company3 }}</span>
                                        <span style="color:#535353; float: right;">{{ jobDate3 }}</span><br>
                                        <span style="color:#535353; font-style: italic; font-weight: bold;">{{ job3
                                            }}</span><br>
                                        
                                        <div class="hover-word" id="description3-query">
                                            {{ description3 }}
                                        </div>

                                        <div class="hover-div" id="description3-result">
                                        
                                        </div>

                                    </div>
                                    <hr>
                                    <!-- skills -->
                                    <p class="title2">Skills</p>
                                    <div style="margin: 20px;">
                                        {{ skills }}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <script type="module" src="./resumeForm.js">
        // firebase
                // Initialize Firebase

        // add data



    </script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
</script>

</body>





</html>